
<ul class="navbar-nav">
    <li class="nav-item">
        <a href="@Url.Action("Register", "Home")" class="nav-link" id="register" >Register</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("Login", "Home")" class="nav-link " id="login" >Login</a>
    </li>
</ul>
